body{
    font-family: Arial, Helvetica, sans-serif ;
}

/* css header */
#header{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
}

#header .header-inner{
    width: 80%;
    height: 100%;
    display: flex;
}    
#header .header-inner .logo{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}
.logo img{
    max-width: 100%;
    max-height: 100%;
}
#header .header-inner .nav{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}
.main-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Archivo', sans-serif;
}
.main-menu>li{
    width: fit-content;
    margin-right: 15px;
    padding: 5px;
}
.main-menu>li>a{
    text-decoration: none;
    color: #020516;
    text-transform: uppercase;
    font-family: 'Archivo', sans-serif;
}
.sub-menu{
    display: none;
}
.main-menu>li>a.active{
    color: #0B249E;
    text-shadow: 1px 1px #f5eeee;
}
.main-menu>li:hover .sub-menu{
    display: block;
    position: absolute;
    top:0;
    left: 0;
}
